section#contact
    .container
            h2 GET IN TOUCH
            p #[a(href="mailto:oliverzygo@outlook.com Inquiry") oliverzygo@outlook.com] | #[a(href="https://youtube.com/@oliverzygo") https://youtube.com/@oliverzygo]

