section#hero
        .container
            h1 #[span FULL STACK] DEVELOPER
            p.
                ExpressJS, Python C# and some other skills
            a.primary-btn(href="https://github.com/OliverYg0" target="_blank") Projects
            a.secondary-btn(href="#contact") Contact