section#hero
        .container
            h1 #[span FULL STACK] DEVELOPER
            p.
                Python, express JS and some other skills are by best.
            //- a.secondary-btn(href="/documents/Oliver Zygo CV 2024.pdf" target="_blank") My CV
            a.primary-btn(href="https://github.com/OliverYg0" target="_blank") Projects
            a.secondary-btn(href="#contact") Contact