meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title #{title} - #{page}
link(rel="stylesheet", href="/styles/general-styles.css")
link(rel="stylesheet", href="/styles/mobile-styles.css")
link(rel="stylesheet", href="/styles/desktop-styles.css")