header
    .container
        nav
            a.logo(href="/home") Oliver Zygo
            .nav-toggle
                .nav-toggle-bar
                .nav-toggle-bar
                .nav-toggle-bar
            ul.nav-items
                li.nav-item
                    a.nav-link(class={active: page === "Home"} href="/") Home
                li.nav-item
                    a.nav-link(class={active: page === "Projects"} href="/projects") Projects
                li.nav-item
                    a.nav-link(class={active: page === "Contact"} href="/contact") Contact
                li.nav-item
                    a.nav-link(href='/documents/Oliver Zygo CV 2024.pdf', target="_blank") CV