header
    .container
        nav
            a.logo(href="#") Oliver Zygo
            ul.nav-items
                li.nav-item
                    a.nav-link(href="#") Home 
                li.nav-item
                    a.nav-link(href="#") Projects 
                li.nav-item
                    a.nav-link(href="#") Contact 
                li.nav-item
                    a.nav-link(href="#") About