header
    .container
        nav
            a.logo(href="/home") Oliver Zygo
            .nav-toggle
                .nav-toggle-bar
                .nav-toggle-bar
                .nav-toggle-bar
            ul.nav-items
                li.nav-item
                    a.nav-link.active(href="/home") Home
                li.nav-item
                    a.nav-link(href="/projects") Projects
                li.nav-item
                    a.nav-link(href="/contact") About
                li.nav-item
                    a.nav-link(href="/contact") Contact
                li.nav-item
                    a.nav-link.primary-btn(href='/documents/Oliver Zygo CV 2024.pdf', target="_blank") Download CV