extends layout.pug

block content
    section#hero
        h1 Front & Backend Developer
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ex eligendi quo culpa minus, optio quidem quis nam delectus dolore.
        a.btn(href="/documents/Oliver Zygo CV 2024.pdf") Download CV
        a.btn(href="/projects") Projects