extends layout.pug

block content
    section#hero
        h1 Welcome, check this out!
        h2 Trying to be a Full Stacker
        p.
            Passionate job seeker with strong organizational skills, highly motivated- my aim is to absorb as
            much knowledge possible gaining crucial skills for any future projects.
        a.btn-primary(href="/projects") Projects
        a.btn-secondary(href="/documents/Oliver Zygo CV 2024.pdf") Download CV

    section#projects
        h2 Projects
        
    section#contact
        h2 Contact