extends layout.pug

block content
    section#hero
        h1 Front & Backend Developer
        p.
            Lorem, ipsum dolor sit amet consectetur adipisicing 
            elit. Voluptates voluptate sint iste, laboriosam ex 
            exercitationem laudantium, ipsum nesciunt reiciendis 
            voluptatem reprehenderit eaque ad doloribus itaque. 
            Corporis laudantium asperiores sint sit!
        a.secondary-btn(href="/projects") Projects
        a.btn(href="/documents/Oliver Zygo CV 2024.pdf") Download CV