extends layout.pug

block content
    section.section#hero
        h1 Welcome, check this out!
        h2 Trying to be a Full Stacker
        p.
            Lorem, ipsum dolor sit amet consectetur adipisicing 
            elit. Voluptates voluptate sint iste, laboriosam ex 
            exercitationem laudantium, ipsum nesciunt reiciendis 
            voluptatem reprehenderit eaque ad doloribus itaque. 
            Corporis laudantium asperiores sint sit!
        a.primary-btn(href="/documents/Oliver Zygo CV 2024.pdf") Download CV
        a.secondary-btn(href="/projects") Projects