doctype html
html(lang="en")

//- This linked file containes the websites css links in the head
head
    include includes/head.pug

body

    //- Link to file containing the websites top navigation
    include includes/header.pug

    main
        .container
            //- This is where the main content on the page will be added
                The 'block content' is like a place holder and will tells
                the page where the content goes
            block content

    //- Link to the websites footer
    include includes/footer.pug

    //- Linked Javascript files
    script(src="/scripts/general-scripts.js")
    script(src="/scripts/header-scripts.js")