doctype html
html(lang="en")

head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title} - #{page}
    link(rel="stylesheet", href="/styles/general-styles.css")
    link(rel="stylesheet", href="/styles/mobile-styles.css")
    link(rel="stylesheet", href="/styles/desktop-styles.css")

body

    //- Link to file containing the websites top navigation
    include includes/header.pug

    main
        .container
            //- This is where the main content on the page will be added
                The 'block content' is like a place holder and will tells
                the page where the content goes
            block content

    //- Link to the websites footer
    include includes/footer.pug

    //- Linked Javascript files
    script(src="/scripts/general-scripts.js")
    script(src="/scripts/header-scripts.js")