:root {
  --container-width: 95%;
  --border-radius: 5px;
  --border-width: 2px;
  --transition-duration: 200ms;
  --header-height: 4em;
  --secondary-color: #005ec1;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #0a0a0a;
  color: #f1f1f1;
}
body.paused-scrolling {
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 80%;
  margin: 0 auto;
}

section {
  padding: 5em 0;
}

h1 {
  font-size: 3.6em;
}

h2 {
  font-size: 1.75em;
  color: var(--secondary-color);
}

.current-page {
  color: var(--secondary-color);
}

.primary-btn, .secondary-btn {
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: 0.75em 1.5em;
  border-radius: var(--border-radius);
  transition: background var(--transition-duration) ease, color var(--transition-duration) ease;
}

.primary-btn {
  background: var(--secondary-color);
  color: #f1f1f1;
}
.primary-btn:hover {
  background: none;
  color: var(--secondary-color);
  outline: var(--border-width) solid var(--secondary-color);
}

.secondary-btn {
  background: #f1f1f1;
  color: #0a0a0a;
}
.secondary-btn:hover {
  background: none;
  color: #f1f1f1;
  outline: var(--border-width) solid #f1f1f1;
}

.logo {
  font-weight: bold;
  font-size: 1.1em;
}

nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  color: #f1f1f1;
  text-decoration: none;
  transition: color var(--transition-duration) ease;
}
nav a:hover {
  color: var(--secondary-color);
}

.nav-items {
  list-style: none;
  display: flex;
}
.nav-items .nav-link {
  margin-left: 1.75em;
}

#hero {
  height: calc(100vh - var(--header-height));
  display: flex;
  align-items: center;
  padding: 0;
}
#hero p {
  max-width: 600px;
  margin: 1.25em 0 2em 0;
}
#hero .secondary-btn {
  margin-right: 1em;
}

@media screen and (max-width: 600px) {
  section {
    text-align: center;
  }
  .nav-toggle .nav-toggle-bar {
    width: 1.5em;
    height: 0.2em;
    margin-bottom: 0.25em;
    background: #f1f1f1;
    border-radius: var(--border-radius);
    transition: transform var(--transition-duration) ease;
  }
  .nav-toggle .nav-toggle-bar:last-child {
    margin-bottom: 0;
  }
  .nav-toggle.nav-active .nav-toggle-bar:first-child {
    transform: rotate(45deg) translateY(0.3em);
  }
  .nav-toggle.nav-active .nav-toggle-bar:nth-child(2) {
    display: none;
  }
  .nav-toggle.nav-active .nav-toggle-bar:last-child {
    transform: rotate(-45deg) translateY(-0.3em);
  }
  .nav-items {
    position: fixed;
    left: -100%;
    top: var(--header-height);
    width: 100%;
    height: calc(100vh - var(--header-height));
    flex-direction: column;
    justify-content: center;
    background: #0a0a0a;
    transition: left var(--transition-duration) ease;
  }
  .nav-items .nav-link {
    display: block;
    width: 100%;
    line-height: calc(var(--header-height) * 0.6);
    font-size: 1.5em;
    font-weight: bold;
  }
  .nav-items.nav-active {
    left: 0;
  }
}/*# sourceMappingURL=styles.css.map */